<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">App Title</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="about">About</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="module1">Module1</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="module2">Module2</a>
            </li>
        </ul>
    </div>
</nav>